.install-container {
  width: 100%;
  margin: 40px auto 0;
  padding: 0 15px;
  max-width: 600px;

  .message {
    padding-bottom: 40px;
    font-size: 25px;
    text-align: center;
  }

  .submit {
    padding-left: 40px;
    padding-right: 40px;
  }
}