.login-form-container {
  max-width: 800px;
  width: 100%;
  margin: 40px auto 0;
  padding: 0 15px;

  label {
    font-weight: bold;
  }
}

#login-form {
  margin-top: 20px;

  input {
    font-weight: normal;
  }
}